{% extends "base.html" %}
{% block title %}Event: {{ event }}{% endblock %}
{% block main_content %}
    <h3>Appointments</h3>

    {% if event.occurrence_set.count %}
        <ol>
            {% for o in event.occurrence_set.all %}
                <li>
                    {% if o.start_time.date == o.end_time.date %}
                        <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                            {{ o.start_time|date:"H:i D F" }} - {{ o.end_time|date:"H:i D F" }}</a>
                    {% else %}
                        <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                            {{ o.start_time|date:"H:i D F" }} &ndash;
                            {{ o.end_time|date:"H:i D F" }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% else %}
    {% endif %}


    </form>
{% endblock %}