{% extends "base.html" %}
{% block title %}Appointment Manager{% endblock %}
{% block main_content %}
    <h3>Appointment Event</h3>
    <h4>
        <a href="{{ occurrence.event.get_absolute_url }}">{{ occurrence.start_time|date:"H:i D F" }}
            - {{ occurrence.end_time|date:"H:i D F" }}</a>
    </h4>

    <form action="" method="post">
        <table>
            <tfoot>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary" value="Update"/></td>
            </tr>
            </tfoot>
            <tbody>
            {{ form }}
            </tbody>
        </table>
    </form>
{% endblock %}